pkgbase = kotatogram-desktop
	pkgdesc = Kotatogram – experimental Telegram Desktop fork
	pkgver = 1.4.9
	pkgrel = 7
	url = https://kotatogram.github.io
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = python
	makedepends = range-v3
	makedepends = tl-expected
	makedepends = microsoft-gsl
	makedepends = meson
	makedepends = extra-cmake-modules
	makedepends = wayland-protocols
	makedepends = plasma-wayland-protocols
	makedepends = gobject-introspection
	makedepends = glib2
	makedepends = yasm
	depends = hunspell
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = lz4
	depends = minizip
	depends = openal
	depends = ttf-opensans
	depends = qt6-imageformats
	depends = qt6-svg
	depends = qt6-wayland
	depends = qt6-5compat
	depends = xxhash
	depends = glibmm
	depends = rnnoise
	depends = pipewire
	depends = libxtst
	depends = libxrandr
	depends = jemalloc
	depends = abseil-cpp
	depends = libdispatch
	depends = openssl-1.1
	depends = protobuf
	optdepends = webkit2gtk: embedded browser features
	optdepends = xdg-desktop-portal: desktop integration
	conflicts = kotatogram-desktop-bin
	conflicts = kotatogram-desktop-dynamic-bin
	options = !debug
	source = kotatogram-desktop::git+https://github.com/ilya-fedin/kotatogram-desktop.git#branch=block-users-in-groups
	source = kotatogram-desktop-cmake::git+https://github.com/kotatogram/cmake_helpers.git
	source = kotatogram-desktop-codegen::git+https://github.com/desktop-app/codegen.git
	source = kotatogram-desktop-dispatch::git+https://github.com/apple/swift-corelibs-libdispatch
	source = kotatogram-desktop-expected::git+https://github.com/TartanLlama/expected
	source = kotatogram-desktop-fcitx5-qt::git+https://github.com/fcitx/fcitx5-qt.git
	source = kotatogram-desktop-fcitx-qt5::git+https://github.com/fcitx/fcitx-qt5.git
	source = kotatogram-desktop-GSL::git+https://github.com/Microsoft/GSL.git
	source = kotatogram-desktop-hime::git+https://github.com/hime-ime/hime.git
	source = kotatogram-desktop-hunspell::git+https://github.com/hunspell/hunspell
	source = kotatogram-desktop-jemalloc::git+https://github.com/jemalloc/jemalloc
	source = kotatogram-desktop-lib_base::git+https://github.com/desktop-app/lib_base.git
	source = kotatogram-desktop-lib_crl::git+https://github.com/desktop-app/lib_crl.git
	source = kotatogram-desktop-lib_lottie::git+https://github.com/desktop-app/lib_lottie.git
	source = kotatogram-desktop-lib_qr::git+https://github.com/desktop-app/lib_qr.git
	source = kotatogram-desktop-lib_rpl::git+https://github.com/desktop-app/lib_rpl.git
	source = kotatogram-desktop-lib_spellcheck::git+https://github.com/desktop-app/lib_spellcheck
	source = kotatogram-desktop-lib_storage::git+https://github.com/desktop-app/lib_storage.git
	source = kotatogram-desktop-libtgvoip::git+https://github.com/telegramdesktop/libtgvoip
	source = kotatogram-desktop-lib_tl::git+https://github.com/desktop-app/lib_tl.git
	source = kotatogram-desktop-lib_ui::git+https://github.com/kotatogram/lib_ui.git
	source = kotatogram-desktop-lib_waylandshells::git+https://github.com/desktop-app/lib_waylandshells.git
	source = kotatogram-desktop-lib_webrtc::git+https://github.com/desktop-app/lib_webrtc.git
	source = kotatogram-desktop-lib_webview::git+https://github.com/desktop-app/lib_webview.git
	source = kotatogram-desktop-lz4::git+https://github.com/lz4/lz4.git
	source = kotatogram-desktop-nimf::git+https://github.com/hamonikr/nimf.git
	source = kotatogram-desktop-plasma-wayland-protocols::git+https://github.com/KDE/plasma-wayland-protocols.git
	source = kotatogram-desktop-QR::git+https://github.com/nayuki/QR-Code-generator
	source = kotatogram-desktop-range-v3::git+https://github.com/ericniebler/range-v3.git
	source = kotatogram-desktop-rlottie::git+https://github.com/desktop-app/rlottie.git
	source = kotatogram-desktop-tgcalls::git+https://github.com/TelegramMessenger/tgcalls.git
	source = kotatogram-desktop-wayland-protocols::git+https://github.com/gitlab-freedesktop-mirrors/wayland-protocols.git
	source = kotatogram-desktop-xxHash::git+https://github.com/Cyan4973/xxHash.git
	source = kotatogram-desktop-tg_owt::git+https://github.com/desktop-app/tg_owt.git#commit=442d5bb593c0ae314960308d78f2016ad1f80c3e
	source = kotatogram-desktop-libyuv::git+https://gitlab.com/chromiumsrc/libyuv.git
	source = kotatogram-desktop-src::git+https://github.com/google/crc32c.git
	source = https://github.com/TelegramMessenger/tgcalls/commit/82c4921045c440b727c38e464f3a0539708423ff.patch
	source = block-sponsored_messages.patch
	source = 25012.patch
	source = tg_owt2.patch
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = 43944d9d50c474b82dd4cf025ce219e9d1573bbb5ba34ec6b44e77cd9154047af007cd5f3d66afa97f4c533c7f97aadb92db0dee860724abfd44f05b3c7835cb
	sha512sums = 642d509804ba97af131de0927f4a7c4ce28c847564e51d50dd29c81976ad6aa12c11b8bca783488e85d737ba6850400461550320e83fe54a242b35513b146d45
	sha512sums = 9d79f9d877930692d7c6e361b7b5c0b231f73e5b5d38c85c7a35965fdb8f1062b7470e98b1284643e56a0208d79e8aa4191834b94dc8a840e80d17b7b262425a
	sha512sums = 6a8392d064e28f09248c3155d18e862dfdb43a4a8fedf45ec1e495c9dd35efec6bef0a990ae001e49c927a3e44f5493624833475fe22ad7238deaebd7c8de89e

pkgname = kotatogram-desktop
