pkgbase = kotatogram-desktop
	pkgdesc = Kotatogram – experimental Telegram Desktop fork
	pkgver = 1.4.9
	pkgrel = 5
	url = https://kotatogram.github.io
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = git
	makedepends = ninja
	makedepends = python
	makedepends = range-v3
	makedepends = tl-expected
	makedepends = microsoft-gsl
	makedepends = extra-cmake-modules
	makedepends = webkit2gtk
	makedepends = unzip
	makedepends = protobuf
	makedepends = libxrandr
	makedepends = libxcomposite
	makedepends = libva
	makedepends = opus
	makedepends = yasm
	makedepends = libjpeg-turbo
	makedepends = pipewire
	makedepends = libxtst
	makedepends = meson
	depends = hunspell
	depends = ffmpeg
	depends = hicolor-icon-theme
	depends = lz4
	depends = minizip
	depends = openal
	depends = ttf-opensans
	depends = qt5-imageformats
	depends = qt5-svg
	depends = qt5-wayland
	depends = libdbusmenu-qt5
	depends = xxhash
	depends = kwayland
	depends = glibmm
	depends = rnnoise
	depends = jemalloc
	depends = abseil-cpp
	depends = libdrm
	depends = openssl-1.1
	optdepends = webkit2gtk: embedded browser features
	optdepends = xdg-desktop-portal: desktop integration
	conflicts = kotatogram-desktop-bin
	conflicts = kotatogram-desktop-dynamic-bin
	source = kotatogram-desktop::git+https://github.com/kotatogram/kotatogram-desktop.git#branch=dev
	source = kotatogram-desktop-libtgvoip::git+https://github.com/telegramdesktop/libtgvoip.git
	source = kotatogram-desktop-GSL::git+https://github.com/Microsoft/GSL.git
	source = kotatogram-desktop-xxHash::git+https://github.com/Cyan4973/xxHash.git
	source = kotatogram-desktop-rlottie::git+https://github.com/desktop-app/rlottie.git
	source = kotatogram-desktop-lz4::git+https://github.com/lz4/lz4.git
	source = kotatogram-desktop-lib_crl::git+https://github.com/desktop-app/lib_crl.git
	source = kotatogram-desktop-lib_rpl::git+https://github.com/desktop-app/lib_rpl.git
	source = kotatogram-desktop-lib_base::git+https://github.com/desktop-app/lib_base.git
	source = kotatogram-desktop-codegen::git+https://github.com/desktop-app/codegen.git
	source = kotatogram-desktop-lib_ui::git+https://github.com/kotatogram/lib_ui.git
	source = kotatogram-desktop-lib_lottie::git+https://github.com/desktop-app/lib_lottie.git
	source = kotatogram-desktop-lib_tl::git+https://github.com/desktop-app/lib_tl.git
	source = kotatogram-desktop-lib_spellcheck::git+https://github.com/desktop-app/lib_spellcheck.git
	source = kotatogram-desktop-lib_storage::git+https://github.com/desktop-app/lib_storage.git
	source = kotatogram-desktop-cmake_helpers::git+https://github.com/kotatogram/cmake_helpers.git
	source = kotatogram-desktop-expected::git+https://github.com/TartanLlama/expected.git
	source = kotatogram-desktop-QR-Code-generator::git+https://github.com/nayuki/QR-Code-generator.git
	source = kotatogram-desktop-lib_qr::git+https://github.com/desktop-app/lib_qr.git
	source = kotatogram-desktop-libdbusmenu-qt::git+https://github.com/desktop-app/libdbusmenu-qt.git
	source = kotatogram-desktop-hunspell::git+https://github.com/hunspell/hunspell.git
	source = kotatogram-desktop-range-v3::git+https://github.com/ericniebler/range-v3.git
	source = kotatogram-desktop-fcitx-qt5::git+https://github.com/fcitx/fcitx-qt5.git
	source = kotatogram-desktop-nimf::git+https://github.com/hamonikr/nimf.git
	source = kotatogram-desktop-hime::git+https://github.com/hime-ime/hime.git
	source = kotatogram-desktop-fcitx5-qt::git+https://github.com/fcitx/fcitx5-qt.git
	source = kotatogram-desktop-lib_webrtc::git+https://github.com/desktop-app/lib_webrtc.git
	source = kotatogram-desktop-tgcalls::git+https://github.com/TelegramMessenger/tgcalls.git
	source = kotatogram-desktop-lib_webview::git+https://github.com/desktop-app/lib_webview.git
	source = kotatogram-desktop-lib_waylandshells::git+https://github.com/desktop-app/lib_waylandshells.git
	source = kotatogram-desktop-jemalloc::git+https://github.com/jemalloc/jemalloc.git
	source = kotatogram-desktop-kwayland::git+https://github.com/KDE/kwayland.git
	source = kotatogram-desktop-dispatch::git+https://github.com/apple/swift-corelibs-libdispatch.git
	source = kotatogram-desktop-tg_owt::git+https://github.com/desktop-app/tg_owt.git#commit=63a934db1ed212ebf8aaaa20f0010dd7b0d7b396
	source = libvpx::git+https://chromium.googlesource.com/webm/libvpx.git
	source = libyuv::git+https://chromium.googlesource.com/libyuv/libyuv.git
	source = pipewire::git+https://github.com/PipeWire/pipewire.git
	source = https://patch-diff.githubusercontent.com/raw/desktop-app/tg_owt/pull/101.patch
	source = include.patch
	source = kf594.patch
	source = block-sponsored_messages.patch
	source = 0001-Add-an-option-to-hide-messages-from-blocked-users-in.patch
	source = https://patch-diff.githubusercontent.com/raw/kotatogram/kotatogram-desktop/pull/326.patch
	source = https://patch-diff.githubusercontent.com/raw/kotatogram/kotatogram-desktop/pull/333.patch
	source = https://patch-diff.githubusercontent.com/raw/kotatogram/kotatogram-desktop/pull/334.patch
	source = https://patch-diff.githubusercontent.com/raw/kotatogram/kotatogram-desktop/pull/335.patch
	source = https://patch-diff.githubusercontent.com/raw/kotatogram/kotatogram-desktop/pull/337.patch
	source = 25012.patch
	source = telegram-desktop-ffmpeg5.patch
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = SKIP
	sha512sums = e8a3c6f82884b4f82596bbff73a8c599149454a26ce3bd479c5b84e82ce74fda64038b8d3fce0987362fdf0f3f571e45407a1993f725d94e8461416d99e12484
	sha512sums = 3ba84ef8006566d63be85a50b3f38ee43d1ede0171522570abf643d9da07430e7ad6bf8c724a8f46030f4f57ba24e91e967b9c12428f6d769bd4e645720b75c0
	sha512sums = a46c103141384c51051bc5e31e7655e3ec10cb826bb848cdc6b0eec3ddf2edc26596db34a614a9598540bdc1877f5b966ab5a92778cd3c61e9c176550d8d3046
	sha512sums = 642d509804ba97af131de0927f4a7c4ce28c847564e51d50dd29c81976ad6aa12c11b8bca783488e85d737ba6850400461550320e83fe54a242b35513b146d45
	sha512sums = a024d3699d9cb086ebe92fc13d9cbdd37ace4b08730b9f296e2418005c4c11c9f4626158a6a29ee2d2b2222287e774c0836962c9996fd49dacf009d503d0add2
	sha512sums = 457625980ca533ffcdb38c9b8e3f9d775250306808bb169c947dc421eaa53e3ed6fc4d0dab84ef5d4a107632b68de33656a1556e002a11d7db56c7d92183a9c1
	sha512sums = 51587ff4e06488be6fb765d48e1ccfe9f4c2ab4face3335063e79795fee017534a8ebdd4b5fa107ce4c969752dc293fb1e442eec7f95e8844188964ba78cb68a
	sha512sums = 4732136c3d6ac285aef6b76c9e6507be847c096797f3a198fb234fd028b593c09ef00037a4daca223b32e75a7243769f5c100c825d366987bedb710b58df7048
	sha512sums = 899c39dae829a82b02c5daf197642cc3dac9792b3f4514229dcae430dc2890f22309b3a3c63fe79bb7baf667a752bf6874fad2bccdf646216d22024678ad3cb4
	sha512sums = ae9ce8bbd58abec091163a21ed23b3cdee7fd17dab4d2018c26de9c459cd9fedc66cdc0447039d57e2a3c01b86625e7e7b9ac7cd6c1c5a1a232ceb6cf374fcd4
	sha512sums = 9d79f9d877930692d7c6e361b7b5c0b231f73e5b5d38c85c7a35965fdb8f1062b7470e98b1284643e56a0208d79e8aa4191834b94dc8a840e80d17b7b262425a
	sha512sums = 9a3f3cc4f48ecb1ff9bd32ea282f51babd7b8048ca733aac3b7b2c6e04ed74e904eef0fff039b1515bcd4553a3325588f159e76d69b481977fa2b1485bb68aaf

pkgname = kotatogram-desktop
